<% include partials/_header %>
<div class="container-fluid mt-5 text-center">
  <h1 class="mb-4">GRUPO 1</h1>
  <table class="table table-bordered">
    <thead class="font-weight-bold">
      <tr>
        <td>ID</td>
        <td>NOMBRE</td>
        <td>BANNER</td>
        <td>VIDEO</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% if (data) { %>
      <% for(var i = 0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].name %></td>
        <td><%= data[i].banner %></td>
        <td><%= data[i].video %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <% if (data[i].name ==""){data[i].name="Promotor sin nombre."}%>
            <a href="/report/<%= data[i].id %>/<%= data[i].name %>" class="btn btn-info ml-2">Informe</a>
            <a href="/updateView/<%= data[i].id %>/<%= value %>/<%= value2 %>" class="btn btn-warning">Editar</a>
            
            <main>
              <input id="mostrar-modal" type="radio" name="modal"/>
              <label for="mostrar-modal">Eliminar</label>
              <input id="cerrar-modal" type="radio" name="modal"/>
              <div id="modal">
                  <div class="bodyNodal">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Eliminar promotor.</h5>
                            <p class="card-text">Esta apunto de eliminar a un Promotor.</p>
                            <label for="cerrar-modal" class="btn btn-primary">Cancelar</label>
                            <label for="cerrar-modal"><a href="/clear/<%= data[i].id %>/<%= value %>/<%= value2 %>" class="btn btn-danger">Eliminar</a></label>
                           
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </main>
          </div>
        </td>
      </tr>
      <% } %>
      <% } %>
    </tbody>
  </table>
  <!--Modal css alerta de eliminar-->
  
  <style>
    body {
      
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  h2 {
    font-size: 1.1em;
    margin-top: 2em;
    text-align: center;
  }
  
  main {
    width: 80%;
    margin: auto;
  }
  
  #modal {
    color: rgb(72, 84, 185);
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
  }
  .bodyNodal {
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
  }
  
  #mostrar-modal {
    display: none;
  }
  #mostrar-modal + label {
    background: steelblue;
    display: table;
    margin: auto;
    color: #fff;
    line-height: 3;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
  }
  #mostrar-modal + label:hover {
    background: #38678f;
  }
  #mostrar-modal:checked ~ #modal {
    top: 0;
  }
  #mostrar-modal:checked ~ #cerrar-modal + label {
    display: block;
  }
  
  #cerrar-modal {
    display: none;
  }
  #cerrar-modal + label {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: tomato;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    display: none;
    transition: all 0.5s;
  }
  #cerrar-modal:checked ~ #modal {
    top: -100vh;
  }
  #cerrar-modal:checked + label {
    display: none;
  }
  
  </style>
  <div>
    <a class="btn btn-primary" style="width: 20%;" href="/">Atrás</a>
  </div>
</div>

<% include partials/_footer %>