<% include partials/_header %>
<% if(value==1){ grup = 1} %>
<% if(value==6){ grup = 2} %>
<% if(value==11){ grup = 3} %>
<% if(value==16){ grup = 4} %>
<% if(value==21){ grup = 5} %>
<% if(value==26){ grup = 6} %>
<% if(value==31){ grup = 7} %>
<% if(value==36){ grup = 8} %>
<% if(value==41){ grup = 9} %>
<% if(value==46){ grup = 10} %>
<% if(value==51){ grup = 11} %>
<% if(value==56){ grup = 12} %>
<div class="container-fluid mt-5 text-center">
  <h1 class="mb-4">GRUPO <%= grup %></h1>
  <table class="table table-bordered">
    <thead class="font-weight-bold">
      <tr>
        <td>ID</td>
        <td>NOMBRE BANNER</td>
        <td>BANNER</td>
        <td>LINK BANNER</td>
        <td>NOMBRE VIDEO</td>
        <td>VIDEO</td>
        <td>LINK VIDEO</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% if (data) { %>
      <% for(var i = 0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].nameBanner %></td>
        <td><%= data[i].banner %></td>
        <td><%= data[i].linkBanner %></td>
        <td><%= data[i].nameVideo %></td>
        <td><%= data[i].video %></td>
        <td><%= data[i].linkVideo %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <% if (data[i].nameVideo ==""){data[i].nameVideo="Promotor sin nombre."}%>
            <% if (data[i].nameBanner ==""){data[i].nameBanner="Promotor sin nombre."}%>
            <label for="" class="btn btn-info btInfo ml-2" onclick="getIde('<%= data[i].id %>')">Informe</label>
            <div class="infoDatas" style="display:none" id="<%= data[i].id %>">
              <div id="modal">
                <div class="bodyNodal">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body">
                          <h1><%= data[i].id %></h1>
                          <h3 class="font-weight-bold">Seleccione un Rango de Fechas</h3>
                          <hr>
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <label for="start">Fecha início</label>
                              <input class="form-control" type="date" id="start<%= data[i].id %>" name="trip-start" min="" max="">
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="start">Fecha Fin</label>
                              <input class="form-control" type="date" id="end<%= data[i].id %>" name="trip-start" min="" max="">
                            </div>
                          </div>
                          <div class="row">
                            <div class=col-6>
                              <button for="cerrar-modal" onclick="window.location.reload(true)"
                                class="btn btn-danger ml-2">Cancelar</button>
                            </div>
                            <div class="col-6">
                              <a onclick="getDate('<%= data[i].id %>','<%= data[i].nameBanner%>','<%= data[i].nameVideo%>')"
                                class="btn btn-success ml-2">ver informe</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="/publi_services/updateView/<%= data[i].id %>/<%= value %>/<%= value2 %>"><label
                class="btn btn-warning btInfo ml-2">Editar</label></a>
          </div>
        </td>
      </tr>
      <% } %>
      <% } %>
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary" style="width: 20%;" href="/publi_services">Atrás</a>
  </div>
</div>
<script>

  function getIde(id) {
    document.getElementById(id).style.display = "block"
  }

  function getDate(id, nameB, nameV) {
    let dataStart = document.getElementById("start"+id).value
    let dataEnd = document.getElementById("end"+id).value

    if (Date.parse(dataEnd) < Date.parse(dataStart)) {
      alert("La fecha final debe ser mayor a la fecha inicial");
    } else {
      location.href = `/report/${id}/${nameB}/${nameV}/${dataEnd}/${dataStart}`;
    }
  }
</script>
<style>
  #modal {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: open;
    animation-duration: 0.5s;
  }
  @keyframes open {
    from {
     top: 0%;
  }
  to {
    top: 50%
  }
  }

</style>
<% include partials/_footer %>