<% include partials/_header %>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>id</td>
            <td>Nombre</td>
            <td>banner</td>
            <td>video</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].banner %></td>
                <td><%= data[i].video %></td>
                <td>
                  <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                  <a href="/report/<%= data[i].id %>" class="btn btn-info">Informe</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
