<% include partials/_header %>

<div class="container mt-5 text-center">
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=1%>/<%=5%>">Grupo 1</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 2 %>">Grupo 2</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 3 %>">Grupo 4</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 4 %>">Grupo 5</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 5 %>">Grupo 6</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 6 %>">Grupo 7</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 7 %>">Grupo 8</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 8 %>">Grupo 9</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 9 %>">Grupo 10</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 10 %>">Grupo 11</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 11 %>">Grupo 12</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/prueba/<%= 12 %>">Grupo 12</a>
    
</div>

<% include partials/_footer %>
