<% include partials/_header %>

<div class="container mt-5 text-center">
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=1%>/<%=5%>">Grupo 1</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=6%>/<%=10%>">Grupo 2</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=11%>/<%=15%>">Grupo 4</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=16%>/<%=20%>">Grupo 5</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=21%>/<%=25%>">Grupo 6</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=26%>/<%=30%>">Grupo 7</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=31%>/<%=35%>">Grupo 8</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=36%>/<%=40%>">Grupo 9</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=41%>/<%=45%>">Grupo 10</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=46%>/<%=50%>">Grupo 11</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=51%>/<%=55%>">Grupo 12</a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/list/<%=56%>/<%=60%>">Grupo 12</a>
    
</div>

<% include partials/_footer %>
