<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
</head>
<body>
    <div>
        <div style="background-color: #008CBA;">
            <img src="https://www.canariaslife.com/wp-content/uploads/2020/05/Canarias_Life_Logo_horizontal_portada.png"
                alt="canariasLife" width="150px" style="margin: 10px;">
        </div>
        <div style="margin: 20px;">
            <h1><%= nameBanner %></h1>
            <table>
                <% if (dataBanner.length > 0) { %>
                <% dataBanner.forEach(dataB => {%>
                <tr>
                    <%
                    let diaB = dataB.date.getDate();
                    let horaB = dataB.date.getHours();
                    let minutoB = dataB.date.getMinutes();
                    let segundosB = dataB.date.getSeconds();
                    
                    if(diaB <= 9) {
                        diaB = "0"+ diaB;
                    }
                    if(horaB <= 9) {
                        horaB = "0"+ horaB;
                    } 
                    if(minutoB <= 9) {
                        minutoB = "0"+ minutoB;
                    }
                    if(segundosB <= 9) {
                        segundosB = "0"+ segundosB;
                    }
                %>
                    <td><%= diaB %>-<%= dataB.date.getMonth() %>-<%= dataB.date.getFullYear() %> <%= horaB %>:<%= minutoB %>:<%= segundosB %> Hora de las Islas Canarias.</td>
                    </td>
                </tr>
                <%  });%>
                <% }%>
                <h4>Total visualizaciones del banner: <%= dataBanner.length %></h4>
            </table>
        </div>
    </div>
</body>
</html>
