<% include partials/_header %>
<div class="container mt-5">  
    <div class="row text-center">
        <div class="col-lg-6">
            <h1 class="text-uppercase mb-4"><%= nameBanner %></h1>
            <h2 class="text-primary">Historial del Banner</h2>
            <a href="/publi_services/reportpdfBanner/<%= id %>/<%= nameBanner %>" class="btn btn-outline-danger mt-3 mb-3 btn-block">Generar PDF</a>
            <% if (dataBanner) { %>
 
            <% for(var i = 0; i < dataBanner.length; i++) { %>
            <table>
            <tr>
            <%
                    let diaB = dataBanner[i].date.getDate();
                    let horaB = dataBanner[i].date.getHours();
                    let minutoB = dataBanner[i].date.getMinutes();
                    let segundosB = dataBanner[i].date.getSeconds();
                    
                    if(diaB <= 9) {
                        diaB = "0"+ diaB;
                    }
                    if(horaB <= 9) {
                        horaB = "0"+ horaB;
                    } 
                    if(minutoB <= 9) {
                        minutoB = "0"+ minutoB;
                    }
                    if(segundosB <= 9) {
                        segundosB = "0"+ segundosB;
                    }
               
                %>
                <td><h4><%= diaB %>/<%= dataBanner[i].date.getMonth()+1 %>/<%= dataBanner[i].date.getFullYear() %> <%= horaB %>:<%= minutoB %>:<%= segundosB %> Hora de las Islas Canarias .</h4></td>
            </tr>
            </table>
            <% } %>
            <% } %>
        </div>
        <div class="col-lg-6">
            <h1 class="text-uppercase mb-4"><%= nameVideo %></h1>
            <h2 class="text-primary">Historial del Vídeo</h2>
            <a href="/publi_services/reportpdfVideo/<%= id %>/<%= nameVideo %>" class="btn btn-outline-danger mt-3 mb-3 btn-block" id="testButton">Generar PDF</a>
            <% if (dataVideo) { %>
            <% for(var i = 0; i < dataVideo.length; i++) { %>
            <table>
            <tr>
                 <%
                let diaV = dataVideo[i].date.getDate();
                let horaV = dataVideo[i].date.getHours();
                let minutoV = dataVideo[i].date.getMinutes();
                let segundosV = dataVideo[i].date.getSeconds();
                
                 if(diaV <= 9) {
                    diaV = "0"+ diaV;
                } 
                if(horaV <= 9) {
                    horaV = "0"+ horaV;
                } 
                if(minutoV <= 9) {
                    minutoV = "0"+ minutoV;
                }
                if(segundosV <= 9) {
                    segundosV = "0"+ segundosV;
                }
                %>
           
                <td><h4><%= diaV %>-<%= dataVideo[i].date.getMonth()+1 %>-<%= dataVideo[i].date.getFullYear() %> <%= horaV %>:<%= minutoV %>:<%= segundosV %> Hora de las Islas Canarias.</h4></td>
            </tr>
            </table>
            <% } %>
            <% } %>
         
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary mt-5" style="width: 20%;" href="/publi_services">Atrás</a>
    </div>
</div>
<% include partials/_footer %>