<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
</head>
<body>
    <div>
        <div style="background-color: #008CBA;">
            <img src="https://www.canariaslife.com/wp-content/uploads/2020/05/Canarias_Life_Logo_horizontal_portada.png"
                alt="canariasLife" width="150px" style="margin: 10px;">
        </div>
        <div style="margin: 20px;">
            <h1><%= nameVideo %></h1>
            <table>
                <% if (dataVideo.length > 0) { %>
                <% dataVideo.forEach(dataV => {%>
                <tr>
                     <%
                    let diaV = dataV.date.getDate();
                    let horaV = dataV.date.getHours();
                    let minutoV = dataV.date.getMinutes();
                    let segundosV = dataV.date.getSeconds();
                    
                    if(diaV <= 9) {
                        diaV = "0"+ diaV;
                    }
                    if(horaV <= 9) {
                        horaV = "0"+ horaV;
                    } 
                    if(minutoV <= 9) {
                        minutoV = "0"+ minutoV;
                    }
                    if(segundosV <= 9) {
                        segundosV = "0"+ segundosV;
                    }
                %>
                    <td><%= diaV %>-<%= dataV.date.getMonth() %>-<%= dataV.date.getFullYear() %> <%= horaV %>:<%= minutoV %>:<%= segundosV %> Hora de las Islas Canarias.</td>
                    </td>
                </tr>
                <%  });%>
                <% }%>
                <h4>Total visualizaciones de los Vídeos: <%= dataVideo.length %></h4>
            </table>
        </div>
    </div>
</body>
</html>
