<% include partials/_header %>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 card">
      <div class="card-body">
        <h3 class="text-center mb-3">EDITAR PROMOTOR</h3>
        <form action="/publi_services/update/<%= data.id %>/<%= value %>/<%= value2 %>" method="POST">
          <div class="row">
            <div class="col-md-6 boxB">
              <label><h3>BANNER</h3></label>
            <div class="form-group">
              <label>Nombre promotor</label>
              <input type="text" name="nameBanner" value="<%= data.nameBanner%>" placeholder="Nombre"
                class="form-control" autofocus>
            </div>
            <div class="form-group">
              <label>URL Banner</label>
              <input type="text" name="banner" value="<%= data.banner%>" placeholder="url Banner" class="form-control">
            </div>
            <div class="form-group">
              <label>Link a la publicidad</label>
              <input type="text" name="linkBanner" value="<%= data.linkBanner%>" placeholder="url Banner"
                class="form-control">
            </div>
            <div class="col-12 mb-3">
              <input id="mostrar-modal" type="radio" name="modal" />
              <label for="mostrar-modal" class="btn btn-danger btn-block">Eliminar</label>
              <input id="cerrar-modal" type="radio" name="modal" />
              <div id="modal">
                <div class="bodyNodal">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body">
                          <h3 class="font-weight-bold">Eliminar promotor banner.</h3>
                          <hr>
                          <p class="card-text">Esta apunto de eliminar a un Promotor.</p>
                          <p class="card-text">Se eliminara su historial de visualizaciones.</p>
                          <div class="row">
                            <div class=col-6>
                              <button for="cerrar-modal" href="javascript:history.back()"
                                class="btn btn-primary btn-block">Cancelar</button>
                            </div>
                            <div class="col-6">
                              <a class="btn btn-danger btn-block"
                                href="/publi_services/clearBanner/<%= data.id %>/<%= value %>/<%= value2 %>">Eliminar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-md-6 boxB">
              <label><h3>VIDEO</h3></label>
            <div class="form-group">
              <label>Nombre promotor</label>
              <input type="text" name="nameVideo" value="<%= data.nameVideo%>" placeholder="Nombre" class="form-control"
                autofocus>
            </div>
            <div class="form-group">
              <label>URL Video</label>
              <input type="text" name="video" value="<%= data.video%>" placeholder="url Video" class="form-control">
            </div>
            <div class="form-group">
              <label>Link a la publicidad</label>
              <input type="text" name="linkVideo" value="<%= data.linkVideo%>" placeholder="url Video"
                class="form-control">
            </div>
            <div class="col-12">
              <input id="mostrar-modal2" type="radio" name="modal2" />
              <label for="mostrar-modal2" class="btn btn-danger btn-block">Eliminar</label>
              <input id="cerrar-modal2" type="radio" name="modal2" />
              <div id="modal2">
                <div class="bodyNodal2">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body">
                          <h3 class="font-weight-bold">Eliminar promotor video.</h3>
                          <hr>
                          <p class="card-text">Esta apunto de eliminar a un Promotor.</p>
                          <p class="card-text">Se eliminara su historial de visualizaciones.</p>
                          <div class="row">
                            <div class=col-6>
                              <button href="javascript:history.back()"
                                class="btn btn-primary btn-block">Cancelar</button>
                            </div>
                            <div class="col-6">
                              <a class="btn btn-danger btn-block"
                                href="/publi_services/clearVideo/<%= data.id %>/<%= value %>/<%= value2 %>">Eliminar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
            <div class="row">
              <div class="col-6 mt-3">
                <a class="btn btn-primary btn-block" href="javascript:history.back()">Atrás</a>
              </div>
              <div class="col-6 mt-3">
                <button type="submit" class="btn btn-success btn-block">
                  Actualizar
                </button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Modal css alerta de eliminar-->
<style>
  .boxB{
    padding: 30px;
    border: solid rgb(196, 196, 196) 1px;
  }
  
  #modal {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
    z-index: 1000;
  }

  #modal2 {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
    z-index: 1000;
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: white;
  }

  .bodyNodal {
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
  }

  .bodyNodal2 {
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
  }

  #mostrar-modal {
    display: none;
  }

  #mostrar-modal:checked~#modal {
    top: 0;
  }

  #cerrar-modal {
    display: none;
  }

  #cerrar-modal:checked~#modal {
    top: -100vh;
  }

  #cerrar-modal:checked+label {
    display: none;
  }

  #mostrar-modal2 {
    display: none;
  }

  #mostrar-modal2:checked~#modal2 {
    top: 0;
  }

  #cerrar-modal2 {
    display: none;
  }

  #cerrar-modal2:checked~#modal2 {
    top: -100vh;
  }

  #cerrar-modal2:checked+label {
    display: none;
  }
</style>
<% include partials/_footer %>