<% include partials/_header %>
<style>
   
</style>
<div class="container mt-5 text-center">
    <a type="button" class="btn btn-outline-primary btn-block " href="/publi_services/list/<%=1%>/<%=5%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
               <p>GRUPO 1</p>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[0].nameBanner %>
                <%= data[0].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[1].nameBanner %>
                <%= data[1].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[2].nameVideo %>
                <%= data[2].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[3].nameVideo %>
                <%= data[3].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[4].nameVideo %>
                <%= data[4].nameVideo %>
            </div>
        </div>
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=6%>/<%=10%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 2
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[5].nameVideo %>
                 <%= data[5].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[6].nameVideo %>
                 <%= data[6].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[7].nameVideo %>
                 <%= data[7].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[8].nameVideo %>
                 <%= data[8].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[9].nameVideo %>
                 <%= data[9].nameVideo %>
            </div>
        </div>    
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=11%>/<%=15%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 3
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[10].nameVideo %>
                 <%= data[10].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[11].nameVideo %>
                 <%= data[11].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[12].nameVideo %>
                 <%= data[12].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[13].nameVideo %>
                 <%= data[13].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[14].nameVideo %>
                 <%= data[14].nameVideo %>
            </div>
        </div>
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=16%>/<%=20%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 4
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[15].nameVideo %>
                 <%= data[15].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[16].nameVideo %>
                 <%= data[16].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[17].nameVideo %>
                 <%= data[17].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[18].nameVideo %>
                 <%= data[18].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[19].nameVideo %>
                 <%= data[19].nameVideo %>
            </div>
        </div>
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=21%>/<%=25%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 5
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[20].nameVideo %>
                 <%= data[20].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[21].nameVideo %>
                 <%= data[21].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[22].nameVideo %>
                 <%= data[22].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[23].nameVideo %>
                 <%= data[23].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[24].nameVideo %>
                 <%= data[24].nameVideo %>
            </div>
        </div>
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=26%>/<%=30%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 6
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[25].nameVideo %>
                 <%= data[25].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[26].nameVideo %>
                 <%= data[26].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[27].nameVideo %>
                 <%= data[27].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[28].nameVideo %>
                 <%= data[28].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[29].nameVideo %>
                 <%= data[29].nameVideo %>
            </div>
        </div>
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=31%>/<%=35%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 7
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[30].nameVideo %>
                 <%= data[30].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[31].nameVideo %>
                 <%= data[31].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[32].nameVideo %>
                 <%= data[32].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[33].nameVideo %>
                 <%= data[33].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[34].nameVideo %>
                 <%= data[34].nameVideo %>
            </div>
        </div>
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=36%>/<%=40%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 8
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[35].nameVideo %>
                 <%= data[35].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[36].nameVideo %>
                 <%= data[36].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[37].nameVideo %>
                 <%= data[37].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[38].nameVideo %>
                 <%= data[38].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[39].nameVideo %>
                 <%= data[39].nameVideo %>
            </div>
        </div>
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=41%>/<%=45%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 9
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[40].nameVideo %>
                 <%= data[40].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[41].nameVideo %>
                 <%= data[41].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[42].nameVideo %>
                 <%= data[42].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[43].nameVideo %>
                 <%= data[43].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[44].nameVideo %>
                 <%= data[44].nameVideo %>
            </div>
        </div>
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=46%>/<%=50%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 10
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[45].nameVideo %>
                 <%= data[45].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[46].nameVideo %>
                 <%= data[46].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[47].nameVideo %>
                 <%= data[47].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[48].nameVideo %>
                 <%= data[48].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[49].nameVideo %>
                 <%= data[49].nameVideo %>
            </div>
        </div>    
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=51%>/<%=55%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 11
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[50].nameVideo %>
                 <%= data[50].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[51].nameVideo %>
                 <%= data[51].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[52].nameVideo %>
                 <%= data[52].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[53].name %>
                 <%= data[53].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[54].nameVideo %>
                 <%= data[54].nameVideo %>
            </div>
        </div>    
    </a>
    <a type="button" class="btn btn-outline-primary btn-block" href="/publi_services/list/<%=56%>/<%=60%>">
        <div class="row">
            <div class="col-md-4 col-lg-2 font-weight-bold">
                GRUPO 12
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[55].nameVideo %>
                 <%= data[55].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[56].nameVideo %>
                 <%= data[56].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[57].nameVideo %>
                 <%= data[57].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[58].nameVideo %>
                 <%= data[58].nameVideo %>
            </div>
            <div class="col-md-4 col-lg-2">
                <%= data[59].nameVideo %>
                 <%= data[59].nameVideo %>
            </div>
        </div>    
    </a>

</div>

<% include partials/_footer %>